
<app-generic-alert   *ngIf="showAlert" [message]="alertMessage" [type]="alertType" (close)="onCloseAlert()"></app-generic-alert>

<mat-card>
    <mat-card-header  fxLayout="row" fxLayoutAlign="center center">
      <mat-card-title>البنوك</mat-card-title>
    </mat-card-header>
    <mat-card-content  fxLayout="column" fxLayoutAlign="end center" style="direction: rtl;">
      <!-- Form for adding/editing bank -->
      <form (ngSubmit)="saveBank()">
        <mat-form-field>
          
          <mat-label>الاسم العربي</mat-label>
          <input matInput placeholder="الاسم عربي" [(ngModel)]="bank.nameAr" name="nameAr" required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>الاسم بالانجليزي</mat-label>
          <input matInput placeholder="الاسم بالانجليزية" [(ngModel)]="bank.nameEn" name="nameEn" required>
        </mat-form-field>
        <!-- <mat-form-field>
          <input matInput type="number" placeholder="درجه المخاطر" [(ngModel)]="bank.riskRate" name="riskRate" required>
        </mat-form-field> -->
        <mat-form-field>
          <mat-label>درجه المخاطر</mat-label>
          <!-- <mat-select placeholder="اختار درجه المخاطر" name="riskRate" [(ngModel)]="bank.riskRate" required>
            <mat-option value=0>Low</mat-option>
            <mat-option value=1>Medium</mat-option>
            <mat-option value=2>High</mat-option>
          </mat-select> -->

          <mat-select placeholder="اختار درجه المخاطر" name="riskRate" [(ngModel)]="bank.riskRate" required [disabled]="!EditRisk && isEditing">
            <mat-option *ngFor="let option of bankOptions" [value]="option.value">
              {{ option.viewValue }}
            </mat-option>
          </mat-select>
          
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">{{ isEditing ? 'تعديل' : 'اضافة' }}</button>
      </form>
  
      <!-- Display banks in a table -->
      <table mat-table [dataSource]="banks" style="direction: rtl;">
        <!-- Columns -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>ID</th>
          <td mat-cell *matCellDef="let bank">{{ bank.id }}</td>
        </ng-container>


        <ng-container matColumnDef="nameAr">
          <th mat-header-cell *matHeaderCellDef>الاسم عربي</th>
          <td mat-cell *matCellDef="let bank">{{ bank.nameAr }}</td>
        </ng-container>
  
        <ng-container matColumnDef="nameEn">
          <th mat-header-cell *matHeaderCellDef>الاسم بالانجليزية</th>
          <td mat-cell *matCellDef="let bank">{{ bank.nameEn }}</td>
        </ng-container>
  
        <ng-container matColumnDef="riskRate">
          <th mat-header-cell *matHeaderCellDef>درجه المخاطر</th>
          <td mat-cell *matCellDef="let bank">
          
            <mat-select placeholder="اختار درجه المخاطر" [value]="bank.riskRate" [disabled]="true">
              <mat-option *ngFor="let option of bankOptions" [value]="option.value">
                {{ option.viewValue }}
              </mat-option>
            </mat-select>
          </td>
        </ng-container>
  
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let bank">
            <button mat-icon-button color="primary" (click)="editBank(bank)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="deleteBank(bank)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </mat-card-content>
  </mat-card>
  